= form_for(@profile) do |f|
  .form-group
    = f.label 'Avatar'
    = f.file_field :avatar, class: 'form-control'
  .form-group.was-validated
    = f.label 'Pais'
    = f.text_field :country, class: 'form-control', placeholder: 'Introduce un pais', required: true
    .invalid-feedback
      Falta completar este campo
    .valid-feedback
      Listo
  .form-group.was-validated
    = f.label 'Descripcion'
    = f.trix_editor :about, class: 'form-control', placeholder: 'Introduce una descripcion sobre ti', required: true
    .invalid-feedback
      Falta completar este campo
    .valid-feedback
      Listo
  %hr.mt-5.line-border-shadow/
  .form-group
    %h3.text-center
      = f.label 'Selecione el Nivel'
    .row.text-center
      - @levels.each do |level|
        .col-6.mb-5
          .row
            .col
              = f.radio_button :level_id, level.id
          .row
            .col
              = level.name.upcase
          .row
            .col
              = sanitize(level.positive_description).html_safe
          .row
            .col
              = sanitize(level.negative_description).html_safe
    %hr.line-border-shadow/
  .actions.text-center
    = f.submit "Guardar", class: 'btn btn-success'