.col-12
  .row.justify-content-center
    .col-6
      .card.p-4.profile-border-shadow.mb-4
        %h3.text-center.mb-4 Editar Nivel
        = form_for(@profile, url: { action: :update}) do |f|
          .form-group
            .row
              - @levels.each do |level|
                .col-5.card.ml-2.mb-2
                  .row
                    .col
                      = f.radio_button :level_id, level.id
                  .row
                    .col
                      = level.name.upcase
                  .row
                    .col
                      = sanitize(level.positive_description).html_safe
                  .row
                    .col
                      = sanitize(level.negative_description).html_safe
          .actions
            = f.submit "Guardar", class: 'btn btn-success'
        = link_to 'Cancelar', profile_path(@profile)