.col-12
  .row.justify-content-center
    .col-4
      .card.p-4.profile-border-shadow.mb-4
        %p.text-1st-font.bold.text-center.mb-4 Editar Informacion personal
        = form_for(@profile, url: { action: :update}) do |f|
          .row
            #Avatar.col-12.text-center
              - if @profile.avatar_file_name == nil
                = image_tag 'avatar-default.png', class: "image-profile rounded-circle profile-border-shadow"
              - else
                = image_tag @profile.avatar.url(:medium), class: "image-profile rounded-circle profile-border-shadow"
            #Avatar-Load.col-12.mt-2
              = f.label 'Avatar', class: 'text-center col text-3rd-font bold'
              = f.file_field :avatar, class: 'small ml-5'
              %hr.line-border-shadow.mt-4/
            #Name.col-12
              = f.fields_for(:user) do |u|
                .form-group.was-validated
                  = u.label 'Nombres', class: "text-3rd-font bold"
                  = u.text_field :name, class: 'form-control', required: true, placeholder: 'Introduce tu(s) nombre(s)'
                  .invalid-feedback
                    Falta completar este campo
                  .valid-feedback
                    Listo
                .form-group.was-validated
                  = u.label 'Apellidos', class: "text-3rd-font bold"
                  = u.text_field :lastname, class: 'form-control', required: true, placeholder: 'Introduce tu(s) apellido(s)'
                  .invalid-feedback
                    Falta completar este campo
                  .valid-feedback
                    Listo
          .form-group.was-validated
            = f.label 'Pais', class: "text-3rd-font bold"
            = f.text_field :country, class: 'form-control', required: true, placeholder: 'Introduce un pais'
            .invalid-feedback
              Falta completar este campo
            .valid-feedback
              Listo
          .actions
            .row.mt-4
              .col-3
                = f.submit "Guardar", class: 'btn btn-success buttons-border'
              .col-3
                = link_to 'Cancelar', profile_path(@profile), class: "btn cancel-button buttons-border"