#Profile.col
  .row.justify-content-center
    #Profile-Data.card.p-5.col-8.profile-border-shadow.mb-5
      #Personal-Information.row.border.border-light.rounded.profile-border-shadow
        .col-12
          #Profile-image.row
            = image_tag 'fondo-profile-picture.jpg', class: "profile-background rounded" 
            #Avatar.col-12.text-center.negative-margin
              - if @profile.avatar_file_name == nil
                = image_tag 'avatar-default.png', class: "image-profile rounded-circle profile-border-shadow"
              - else
                = image_tag @profile.avatar.url(:medium), class: "image-profile rounded-circle profile-border-shadow" 
        .col-12
          .row.p-3
            #Personal-Data.col-10.mt-5
              %h3#FullName 
                = "#{@profile.user.name.titleize} #{@profile.user.lastname.titleize}"
              %h3#Email
                = "#{@profile.user.email}"
              %h3#Country
                = @profile.country
              #Repositories.row.mt-3
                = render template: 'repositories/index'
            - if user_signed_in?
              - if @profile.user_id === current_user.id
                #Edit-Button.col-2.text-center.mt-5
                  = link_to edit_info_profile_path(@profile) do
                    = fa_icon "pencil", class: "fa-2x text-secondary"
      #Description.row.border.border-light.p-3.mt-3.rounded.profile-border-shadow
        .col
          .row
            .col-10
              %h3
                %ins Descripción
            - if user_signed_in?
              - if @profile.user_id === current_user.id
                .col-2.text-center  
                  = link_to edit_description_profile_path(@profile) do
                    = fa_icon "pencil", class: "fa-2x text-secondary" #### verificar esto
          .row
            .col.ml-5.mt-4.mr-5
              .blockquote-footer
                = @profile.about
      #Levels.row.border.border-light.mt-3.p-3.rounded.profile-border-shadow
        = render template: 'levels/show'
      #Jobs.row.border.border-light.mt-3.p-3.rounded.profile-border-shadow
        = render template: 'jobs/index'
      #Educations.row.border.border-light.mt-3.p-3.rounded.profile-border-shadow
        = render template: 'educations/index'
      #Skills.row.border.border-light.mt-3.p-3.rounded.profile-border-shadow
        = render template: 'skills/index'
