= form_for [:profile, @repository] do |f|
  .form-group
    = f.label 'Link'
    = f.text_field :link, class: 'form-control'
    - if @repository.errors[:link].any?
      .text-danger 
        = @repository.errors[:link].to_s[/\w([^"]*)/]
  .actions
    = f.submit 'Guardar', class: 'btn btn-success btn-block text-white'