.col
  .row
    .col-10
      %p.text-2nd-font
        Repositorios
    .col-2.text-right
      - if user_signed_in?
        - if @profile.user_id === current_user.id
          = link_to new_profile_repository_path(@profile) do
            = fa_icon "plus-circle", class: "fa-lg text-success"
  .row.pl-5.mt-2
    - if @profile.repositories.empty?
      .col
    - else
      #Repository.col
        .row
          - @profile.repositories.each do |repository|
            .col-8
              %a.text-4th-font{:href => "https://#{repository.link}", :target => "_blank"}
                %p
                  = repository.link
            .col-4
              .row
                - if user_signed_in?
                  - if @profile.user_id === current_user.id
                    .col-6.text-right
                      = link_to edit_profile_repository_path(@profile, repository) do
                        = fa_icon "pencil", class: "fa-lg text-secondary"
                    .col-6.text-right
                      = link_to profile_repository_path(@profile, repository), method: :delete do
                        = fa_icon "trash", class: "fa-lg text-danger"