= form_for [:profile, @job] do |f|  
  .form-group
    = f.label 'Compa침ia', class: "text-3rd-font bold"
    = f.text_field :company, class: 'form-control'
    - if @job.errors[:company].any?
      .text-danger 
        = @job.errors[:company].to_s[/\w([^"]*)/]
  .form-group
    = f.label 'Cargo', class: "text-3rd-font bold"
    = f.text_field :position, class: 'form-control'
    - if @job.errors[:position].any?
      .text-danger 
        = @job.errors[:position].to_s[/\w([^"]*)/]
  .form-group
    = f.label 'Descripci칩n', class: "text-3rd-font bold"
    = f.text_area :description, class: 'form-control', cols: 30, rows: 6
    - if @job.errors[:description].any?
      .text-danger 
        = @job.errors[:description].to_s[/\w([^"]*)/]
  .form-group
    = f.label 'Desde el A침o', class: "text-3rd-font bold"
    = f.date_field :start_date, class: 'form-control'
    - if @job.errors[:start_date].any?
      .text-danger 
        = @job.errors[:start_date].to_s[/\w([^"]*)/]
  .form-group
    = f.label 'Hasta el A침o', class: "text-3rd-font bold"
    = f.date_field :finish_date, class: 'form-control'
    - if @job.errors[:finish_date].any?
      .text-danger 
        = @job.errors[:finish_date].to_s[/\w([^"]*)/]
  .actions
    .row.mt-4
      .col-3
        = f.submit 'Guardar', class: 'btn btn-success buttons-border'
      .col-3
        = link_to 'Cancelar', profile_path(params[:profile_id]), class: "btn cancel-button buttons-border"