.row.justify-content-center
  .col-sm-4
    .card.p-4
      %h3.text-center.mb-4 Registro de Experiencia
      = form_for :job do |f|
        .form-group
          = f.label 'empresa'
          = f.text_field :company, autofocus: true, class: 'form-control'
        .form-group
          = f.label 'cargo'
          = f.text_field :position, class: 'form-control'
        .form-group
          = f.label 'descripcion'
          = f.text_field :description, class: 'form-control'
        .row
          .col-sm-6
            .form-group
              = f.label 'desde el año'
              = f.date_field :start_date, class: 'form-control'
          .col-sm-6
            .form-group
              = f.label 'hasta el año'
              = f.date_field :finish_date, class: 'form-control'       
        .actions
          = f.submit "Guardar", class: 'btn btn-success btn-block'