.col
  .row
    #List-Jobs.col
      %h3 Experiencia
      - if user_signed_in?
        - if @profile.user_id === current_user.id
          %button.btn.btn-success
            = link_to 'Nuevo', new_profile_job_path(@profile), class: 'text-white'
      - if @profile.jobs.empty?
        .col
      - else
        - @profile.jobs.each do |job|
          .row
            #Job.col-10
              .row
                .col
                  %h5
                    = job.company
              .row
                .col
                  %h5
                    = job.position
              .row
                .col
                  %h5
                    = job.description
              .row
                .col
                  %h5
                    = "#{job.start_date} al #{job.finish_date}"
                  %hr/
            - if user_signed_in?
              - if @profile.user_id === current_user.id
                .col-2
                  .row
                    .col
                      %button.btn.btn-success
                        = link_to 'Editar', edit_profile_job_path(@profile, job), class: 'text-white' 

          
        
              
              