.col
  .row
    #List-Jobs.col-10
      %h3 
        %ins Experiencia
    .col-2.text-center
      - if user_signed_in?
        - if @profile.user_id === current_user.id
          = link_to new_profile_job_path(@profile) do
            = fa_icon "plus-circle", class: "fa-2x text-success"      
  - if @profile.jobs.empty?
    .col
  - else
    .row.ml-5.mt-4.mr-5
      - @profile.jobs.each do |job|
        #Job.col-10
          .row
            .col
              %h5
                %strong
                  = job.company
          .row
            .col
              %h6
                = job.position
          .row
            .col
              .blockquote-footer
                = job.description
          .row
            .col
              %h6
                %small
                  = "#{job.start_date} al #{job.finish_date}"
              %hr.line-border-shadow/
        .col-2
          .row
            - if user_signed_in?
              - if @profile.user_id === current_user.id
                .col-6.text-right
                  = link_to edit_profile_job_path(@profile, job) do
                    = fa_icon "pencil", class: "fa-lg text-secondary"
                .col-6.text-right
                  = link_to "" do
                    = fa_icon "trash", class: "fa-lg text-danger"  ##### falta agregar la ruta del destroy

          
        
              
              