- if user_signed_in?
  #Nav.col
    .row.align-items-center
      .col-2.text-center
        = image_tag 'logo.png', class: 'user-nbar-logo'

      -# ----- Buscador -----        
      
      .col-6.text-left
        = form_tag class: 'form-inline' do
          .row.px-0
            .col-5
              = text_field_tag :keywords, params[:keywords], class: 'flex-2 form-control mr-2', placeholder: 'Busqueda de Perfiles'
            .col-3
              = button_tag(type: "submit", class: "btn btn-primary") do
                = fa_icon "search", class: "fa-lg"
            .col-4
            -#^aqui arriba sustitelle '%p' por un icono^
      .col-4
        .row
          -if current_user.role.name === 'ADMINISTRADOR' 
            .col-6
              %div
                %button.btn.btn-primary.position-absolute.rounded-circle
                  = link_to admin_path do
                    %h6.text-white.m-0
                      = "#{current_user.name.first.upcase}"
                .bg-light.ml-4.p-1.pl-2
                  = link_to admin_path, class: "m-1"  do
                    %span.badge.text-dark
                      = "#{current_user.name.titleize} #{current_user.lastname.titleize}"
          - elsif current_user.role.name === 'USUARIO' && current_user.profile != nil && current_user.profile.persisted?
            .col-8
              %div
                %button.btn.btn-primary.position-absolute.rounded-circle
                  = link_to profile_path(current_user.profile) do
                    %h6.text-white.m-0
                      = "#{current_user.name.first.upcase}"
                .bg-light.ml-4.p-1.pl-2 
                  = link_to profile_path(current_user.profile), class: "m-1"  do                           
                    %span.badge.text-dark
                      = "#{current_user.name.titleize} #{current_user.lastname.titleize}"
          - else
          .col-4
            %button.btn.btn-danger.btn-sm.btn-block
              = link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, class: 'text-white'
- else
  = render template: 'devise/sessions/new'