- if user_signed_in?
  #Nav.col
    .row.align-items-center
      .col-2.text-center
        = link_to root_path do
          = image_tag 'logo.png', class: 'user-nbar-logo'

      -# ----- Buscador -----        
      
      .col-6.text-left
        = render template: 'profiles/search'
      .col-4
        .row
          .col-2
          .col-8
            -if current_user.role.name === 'ADMINISTRADOR' 
              %div
                %button.btn.btn-primary.position-absolute.rounded-circle
                  %h6.text-white.m-0
                    = "#{current_user.name.first.upcase}"
                .bg-light.ml-4.p-1.pl-3
                  %span.badge.text-dark.dropdown-toggle{"data-toggle" => "dropdown"}
                    = "#{current_user.name.titleize} #{current_user.lastname.titleize}"
                  .dropdown-menu
                    = link_to 'Panel Administrativo', admin_path, class: 'dropdown-item'
                    = link_to 'Cerrar sesion', destroy_user_session_path, method: :delete, class: 'dropdown-item'
            - elsif current_user.role.name === 'USUARIO' && current_user.profile != nil && current_user.profile.persisted?
              %div
                %button.btn.btn-primary.position-absolute.rounded-circle
                  %h6.text-white.m-0
                    = "#{current_user.name.first.upcase}"
                .bg-light.ml-4.p-1.pl-3                           
                  %span.badge.text-dark.dropdown-toggle{"data-toggle" => "dropdown"}
                    = "#{current_user.name.titleize} #{current_user.lastname.titleize}"
                  .dropdown-menu
                    = link_to 'Ver mi perfil', profile_path(current_user.profile), class: 'dropdown-item'
                    = link_to 'Cerrar sesion', destroy_user_session_path, method: :delete, class: 'dropdown-item'
          .col-1        
- else
  = render template: 'devise/sessions/login_form'