= form_for @skill do |f|
  .form-group
    = f.label 'Nombre'
    = f.text_field :name, class: 'form-control'
    - if @skill.errors[:name].any?
      .text-danger 
        = @skill.errors[:name].to_s[/\w([^"]*)/]
  .actions
    .row.mt-4
      .col-3
        = f.submit 'Guardar', class: 'btn btn-success text-white'
      .col-3
        = link_to 'Regresar', skills_path, class: "btn cancel-button buttons-border"