.col
  .row.justify-content-center
    #Add-Skill.col-6
      .card.p-4
        %h3.text-center.mb-4 Agregar Habilidad
        = form_for :skill, url: added_profile_skills_path do |f|
          .form-group
            = f.label :skill, 'Seleccione'
            = f.collection_select :skill, Skill.all, :id, :name

          - @skills.each do |skill| 
            .field
              = f.collection_check_boxes :skill, Skill.find(skill.id).requirements, :id, :name
             
          .actions
            = f.submit 'Guardar', class: 'btn btn-success btn-block text-white