.col-sm-12
  .row.align-items-center
    .col-sm-2.text-center
      = link_to root_path do
        = image_tag 'logo.png', class: 'user-nbar-logo'
    .col-sm-5
      = render template: 'profiles/search'
    .col-sm-5
      = form_for(:user, as: :user, url: new_user_session_path) do |f|
        .row
          .col-sm-4
            .field
              -# = f.label 'Correo'
              = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: 'form-control'
          .col-sm-4
            .field
              -# = f.label 'Contraseña'
              = f.password_field :password, autocomplete: "off", placeholder: "Contraseña", class: 'form-control'
          .col-sm-4
            .actions
              = f.submit "Ingresar", class: 'btn btn-success btn-block'