




%nav.navbar.navbar-light.bg-light.justify-content-between
  %p.navbar-brand }{

  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-inline
      = f.label :email, class:'sr-only'
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'email'
    
    
      = f.label 'Contraseña',class:'sr-only'
      = f.password_field :password, autocomplete: "off", class: 'form-control mx-1', placeholder: 'Contraseña'
      
      .actions
        = f.submit "Ingresar", class: 'btn btn-primary btn-block'

    





