
%nav.navbar.navbar-light.bg-light.justify-content-between
  %a.navbar-brand{:href => "#"}
    %img{:alt => "", :height => "30", :src => "https://image.freepik.com/iconos-gratis/logo-wordpress_318-74889.jpg", :width => "30"}/


  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-inline
      = f.label :email, class:'sr-only'
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'email'
    
    
      = f.label :password, class:'sr-only'
      = f.password_field :password, autocomplete: "off", class: 'form-control mx-1', placeholder: 'Contraseña'
      
      .actions
        = f.submit "Ingresar", class: 'btn btn-primary btn-block'

    


/ aqui %a va el logo, importante usar la clase  'navbar-brand'