- if user_signed_in?
  - if current_user.role.name === 'ADMINISTRADOR'
    #List-Roles.col
      .row.justify-content-center
        .col-4.card.p-5.profile-border-shadow
          .row
            .col
              %h3.text-center 
                Roles Cargados
            .col-2.tex-center
              = link_to new_role_path do
                = fa_icon "plus-circle", class: "fa-2x text-success"
            - if @roles.empty?
              %h4 
                No Existen Roles Cargados
            - else
              %table.table.mt-2
                %thead
                  %tr
                    %th.text-3rd-font Nombre
                    %th.text-3rd-font Acciones
                %tbody
                  - @roles.each do |role|
                    %tr
                      %td.text-4th-font
                        = role.name
                      %td
                        = link_to edit_role_path(role) do
                          = fa_icon "pencil", class: "fa-lg text-secondary mr-2"
                        = link_to "" do
                          = fa_icon "trash", class: "fa-lg text-danger"   #### #### agregar ruta de elimnar
          .row
            .col.text-center
              = link_to 'Regresar', admin_path, class: "btn cancel-button buttons-border"
  - else 
    .col
      %h3 no tienes permiso