= form_for @level do |f|
  .form-group
    = f.label 'Nombre'
    = f.text_field :name, class: 'form-control'
    - if @level.errors[:name].any?
      .text-danger 
        = @level.errors[:name].to_s[/\w([^"]*)/]
  .form-group
    = f.label 'Descripción Positiva'
    = f.trix_editor :positive_description, class: 'form-control'
    - if @level.errors[:positive_description].any?
      .text-danger 
        = @level.errors[:positive_description].to_s[/\w([^"]*)/]
  .form-group
    = f.label 'Descripción Negativa'
    = f.trix_editor :negative_description, class: 'form-control'
    - if @level.errors[:negative_description].any?
      .text-danger 
        = @level.errors[:negative_description].to_s[/\w([^"]*)/]
  .actions
    = f.submit 'Guardar', class: 'btn btn-success'