- if user_signed_in?
  - if current_user.role.name === 'ADMINISTRADOR'
    #List-Levels.col
      .row.justify-content-center
        .col-8.card.p-5.profile-border-shadow.mb-4
          .row
            .col
              %h3.text-center Niveles Cargados
            .col-2.text.center
              = link_to new_level_path do
                = fa_icon "plus-circle", class: "fa-2x text-success"
            - if @levels.empty?
              %h4 No Existen Niveles Cargados
            - else
              %table.table
                %thead
                  %tr
                    %th Nombre
                    %th Descripión Positiva
                    %th Descripión Negativa
                    %th Acciones
                %tbody
                  - @levels.each do |level|
                    %tr
                      %td
                        = level.name
                      %td
                        = sanitize(level.positive_description).html_safe
                      %td
                        = sanitize(level.negative_description).html_safe
                      %td
                        = link_to edit_level_path(level) do
                          = fa_icon "pencil", class: "fa-lg text-secondary mr-2"
                        = link_to "" do
                          = fa_icon "trash", class: "fa-lg text-danger"   #### #### agregar ruta de elimnar
          .row
            .col.text-center
              = link_to 'Regresar', admin_path, class: 'text-center' 