.col
  .row
    #List-Skills.col-10
      %h3 
        %ins Nivel
    .col-2.text-center
      - if user_signed_in?
        - if @profile.user_id === current_user.id
          = link_to edit_level_profile_path(@profile) do
            = fa_icon "pencil", class: "fa-2x text-secondary"
      -### pinta el nivel seleccionado mas los anteriores
  .row
    .col.ml-5.mt-4.mr-5
      .row
        - @levels.each do |level|
          - if level.id < @profile.level_id
            .col-3
              %p.text-center
                = level.name
              %hr/
              %strong.badge Descripcion Positiva:
              %p
                = level.positive_description
              %hr/
        .col-3
          %p.text-center
            = @profile.level.name
          %hr/
          %strong.badge Descripcion Positiva: 
          %p
            = @profile.level.positive_description
          %hr/
          %strong.badge Descripcion Negativa:
          %p
            = @profile.level.negative_description
          %hr/