= form_for [:profile, @education] do |f|
  - if @education.errors.any?
    #error_explanation
      %h2
        = "#{pluralize(@education.errors.count, "error")} prohibited this education from being save:"
      %ul
        - @education.error.full_messages.each do |message|
          %li
            = message
    
  .form-group
    = f.label 'Universidad'
    = f.text_field :place, class: 'form-control'
  .form-group
    = f.label 'Titulo'
    = f.text_field :qualification, class: 'form-control'
  .form-group
    = f.label 'Disciplina'
    = f.text_field :discipline, class: 'form-control'
  .form-group
    = f.label 'Desde el Año'
    = f.date_field :start_date, class: 'form-control'
  .form-group
    = f.label 'Hasta el Año'
    = f.date_field :finish_date, class: 'form-control'
  .actions
    = f.submit 'Guardar', class: 'btn btn-success btn-block text-white'