.row.justify-content-center
  .col-sm-4
    .card.p-4
      %h3.text-center.mb-4 Registro de Formación
      = form_for :education do |f|
        .form-group
          = f.label 'Universidad'
          = f.text_field :place, autofocus: true, class: 'form-control'
        .form-group
          = f.label 'Título'
          = f.text_field :qualification, class: 'form-control'
        .form-group
          = f.label 'Disciplina Académica'
          = f.text_field :discipline, class: 'form-control'
        .row
          .col-sm-6
            .form-group
              = f.label 'Desde el año'
              = f.date_field :start_date, class: 'form-control'
          .col-sm-6
            .form-group
              = f.label 'Hasta el año'
              = f.date_field :finish_date, class: 'form-control'       
        .actions
          = f.submit "Guardar", class: 'btn btn-success btn-block'